.alert-container {
  background-color: rgba($black, 0.25);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  .alert-box {
    min-height: 250px;
    width: 275px;
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    #alert-btn-container {
      width: 50%;
      min-width: 100px;

      .site-btn {
        margin-top: 10px;
        color: white;
      }
      .filter-btn-select {
        color: $black;
      }
      #cancel-btn {
        background-color: $dark-gray;
        color: $white;
      }
      #delete-btn {
        background-color: $red;
      }
    }
  }
}
