#page-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 75px;
  height: 50px;
  // color: green;
}

#site-content {
  width: 100%;
  // padding-bottom: 50px;
  min-height: calc(100% - 50px);

  .filter-btn-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    background-color: rgba($white-ish, 0.9);
    position: fixed;
    bottom: 0;
    // left: 0;
    box-shadow: $top-shadow;
    padding: 10px 20px;

    .filter-btn {
      background-color: rgba($yellow, 0.9);
      border-radius: 8px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      box-shadow: $shadow;
    }
  }

  #sign-in-content,
  #sign-up-content {
    min-height: 100%;
    width: 100%;

    #sign-in-form,
    #sign-up-form {
      width: 100%;
      min-height: 400px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .input-row {
        width: 100%;

        input {
          margin-top: 5px;
          width: 100%;
          height: 40px;
          padding: 0 0 0 10px;
          border-radius: 8px;
          border: 2px solid rgba(0, 0, 0, 0);

          &:focus {
            border: 2px solid $yellow;
          }
        }
      }

      p {
        width: 100%;

        span {
          color: blue;
          text-decoration: underline;
        }
      }

      .submit-btn {
        width: 100%;
        height: 50px;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow;
        border-radius: 8px;
        border: none;
      }
    }
  }
}

.hidden {
  display: none;
}
