// Fonts for the site
$font-title: chaloops, sans-serif;
$font-sans: isonorm, sans-serif;

// Colors for the site
$black: #172120;
$dark-gray: #374140;
// $orange: #ff733f;
$old-yellow: #ffd933;
$yellow: #f9ef69;
$white-ish: rgb(238, 238, 233);
$white: rgb(255, 253, 251);

// Box-shadows for the site
$shadow: 1px 4px 6px rgba($dark-gray, 0.15);
$medium-shadow: 2px 5px 9px rgba($dark-gray, 0.15);
$large-shadow: 3px 6px 12px rgba($dark-gray, 0.15);

$top-shadow: 1px -4px 6px rgba($dark-gray, 0.15);
