* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: atten-round-new, sans-serif;
  color: #172120;
  background-color: #eeeee9;
}

nav {
  height: 70px;
  width: 100%;
  background-color: rgba(249, 239, 105, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
  position: fixed;
  top: 0;
  left: 0;
}
nav .nav-content {
  font-size: 120%;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1080px;
  justify-content: space-between;
}
nav .nav-content div,
nav .nav-content h1 {
  display: flex;
  align-items: center;
}
nav .nav-content .nav-menu {
  min-height: 70px;
  width: 200px;
  font-size: 120%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
nav .nav-content .nav-menu .nav-menu-btn {
  font-size: 30px;
  height: 70px;
  min-height: 70px;
  min-width: 60px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 20px 20px 20px 0;
}
nav .nav-content .nav-menu .nav-menu-btn::before {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-content .nav-menu .nav-links,
nav .nav-content .nav-menu #signInOut {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fffdfb;
  box-shadow: 2px 5px 9px rgba(23, 33, 32, 0.15);
}
nav .nav-content .nav-menu .nav-links .nav-link,
nav .nav-content .nav-menu #signInOut .nav-link {
  height: 70px;
  min-height: 70px;
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  background-color: #fffdfb;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
}
nav .nav-content .nav-menu .nav-links .nav-link:hover,
nav .nav-content .nav-menu #signInOut .nav-link:hover {
  background-color: #f9ef69;
}
nav .nav-content .nav-menu .hidden {
  display: none;
}
nav .nav-content .nav-title {
  height: 100%;
  width: 20%;
  min-width: 160px;
  font-family: chaloops, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 200%;
}
nav .nav-content .nav-user {
  height: 100%;
  width: 40%;
  justify-content: flex-end;
  font-size: 120%;
}
nav .nav-content .nav-user .nav-link {
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}
nav .nav-content .nav-user .nav-link:hover {
  background-color: #ffd933;
}
nav .nav-content .nav-user .user-div {
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-container {
  background-color: rgba(23, 33, 32, 0.25);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-container .alert-box {
  min-height: 250px;
  width: 275px;
  background-color: #fffdfb;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.alert-container .alert-box #alert-btn-container {
  width: 50%;
  min-width: 100px;
}
.alert-container .alert-box #alert-btn-container .site-btn {
  margin-top: 10px;
  color: white;
}
.alert-container .alert-box #alert-btn-container #cancel-btn {
  background-color: #374140;
}
.alert-container .alert-box #alert-btn-container #delete-btn {
  background-color: #b91e1e;
}

#page-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 50px;
}

.site-btn {
  width: 100%;
  max-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#site-content {
  width: 100%;
  min-height: calc(100% - 50px);
}
#site-content .filter-btn-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 6px;
  background-color: rgba(255, 253, 251, 0.9);
  position: fixed;
  bottom: 0;
  box-shadow: 1px -4px 6px rgba(23, 33, 32, 0.15);
  padding: 10px 20px;
}
#site-content .filter-btn-container .filter-btn {
  background-color: rgba(249, 239, 105, 0.9);
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
}
#site-content #sign-in-content,
#site-content #sign-up-content {
  min-height: 100%;
  width: 100%;
}
#site-content #sign-in-content #sign-in-form,
#site-content #sign-in-content #sign-up-form,
#site-content #sign-up-content #sign-in-form,
#site-content #sign-up-content #sign-up-form {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#site-content #sign-in-content #sign-in-form .input-row,
#site-content #sign-in-content #sign-up-form .input-row,
#site-content #sign-up-content #sign-in-form .input-row,
#site-content #sign-up-content #sign-up-form .input-row {
  width: 100%;
}
#site-content #sign-in-content #sign-in-form .input-row input,
#site-content #sign-in-content #sign-up-form .input-row input,
#site-content #sign-up-content #sign-in-form .input-row input,
#site-content #sign-up-content #sign-up-form .input-row input {
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
}
#site-content #sign-in-content #sign-in-form .input-row input:focus,
#site-content #sign-in-content #sign-up-form .input-row input:focus,
#site-content #sign-up-content #sign-in-form .input-row input:focus,
#site-content #sign-up-content #sign-up-form .input-row input:focus {
  border: 2px solid #f9ef69;
}
#site-content #sign-in-content #sign-in-form p,
#site-content #sign-in-content #sign-up-form p,
#site-content #sign-up-content #sign-in-form p,
#site-content #sign-up-content #sign-up-form p {
  width: 100%;
}
#site-content #sign-in-content #sign-in-form p span,
#site-content #sign-in-content #sign-up-form p span,
#site-content #sign-up-content #sign-in-form p span,
#site-content #sign-up-content #sign-up-form p span {
  color: blue;
  text-decoration: underline;
}
#site-content #sign-in-content #sign-in-form .submit-btn,
#site-content #sign-in-content #sign-up-form .submit-btn,
#site-content #sign-up-content #sign-in-form .submit-btn,
#site-content #sign-up-content #sign-up-form .submit-btn {
  background-color: #f9ef69;
}

.hidden {
  display: none;
}

.joke-div {
  min-height: 300px;
  width: 330px;
  border-radius: 8px;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
  margin: 5px 10px 25px;
}
.joke-div .joke-top {
  min-height: 230px;
  width: 100%;
  background-color: #fffdfb;
  border-radius: 8px 8px 0 0;
  padding: 20px;
}
.joke-div .joke-top .joke-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.joke-div .joke-top .joke-top-info h6 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(55, 65, 64, 0.4);
  font-family: chaloops, sans-serif;
}
.joke-div .joke-top .joke-top-info .lol-div {
  height: 30px;
  min-width: 60px;
  border-radius: 8px;
  background-color: rgba(55, 65, 64, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
}
.joke-div .joke-top .joke-top-info .lol-div .lol-num {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% - 24px);
  min-width: 24px;
  text-align: center;
}
.joke-div .joke-top .joke-top-info .lol-div .lol-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30px;
  min-width: 30px;
  font-size: 20px;
}
.joke-div .joke-top .joke-top-info .lol-clicked {
  background-color: #f9ef69;
}
.joke-div .joke-top h5 {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90px;
  font-size: 22px;
  letter-spacing: 1px;
}
.joke-div .joke-top p {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.joke-div .joke-bottom {
  height: 80px;
  width: 100%;
  background-color: rgba(249, 239, 105, 0.95);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 0 0 8px 8px;
}
.joke-div .joke-bottom .user-name {
  letter-spacing: 0.5px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.joke-div .joke-bottom .user-name .user-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  font-weight: bold;
}
.joke-div .joke-bottom .user-name .user-link .user-img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  margin-left: 5px;
}
.joke-div .joke-bottom .edit-delete-div {
  display: flex;
  flex-direction: row;
}
.joke-div .joke-bottom .edit-delete-div div {
  margin-left: 10px;
}

#home-content {
  width: 100%;
  padding: 20px 20px 0;
  margin-bottom: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#my-jokes-content {
  width: 100%;
  padding: 20px 20px 0;
  margin-bottom: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#add-joke {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #fffdfb;
  border: 3px solid #eeeee9;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  font-size: 16px;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
  padding-right: 15px;
}
#add-joke i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  background-color: #f9ef69;
  font-size: 30px;
  color: #374140;
  border-radius: 50px 0 0 50px;
}

.lol-text {
  font-family: chaloops, sans-serif;
}

#new-joke-content {
  width: calc(100% - 40px);
  margin: 0 20px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #fffdfb;
  border-radius: 8px;
  font-size: 16px;
}
#new-joke-content h2 {
  margin-bottom: 5px;
}
#new-joke-content .new-joke-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
#new-joke-content .new-joke-row select {
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #eeeee9;
  padding: 5px;
}
#new-joke-content .new-joke-row select option {
  font-size: 16px;
}
#new-joke-content .new-joke-row input {
  border-radius: 8px;
  border: 1px solid #eeeee9;
  margin-left: 12px;
  font-size: 16px;
}
#new-joke-content .new-joke-row textarea {
  width: 100%;
  min-height: 40px;
  min-width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #eeeee9;
  font-family: atten-round-new, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}
#new-joke-content .new-joke-row label {
  margin-left: 3px;
  font-size: 16px;
}
#new-joke-content .submit-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
  background-color: #f9ef69;
  border-radius: 8px;
  box-shadow: 1px 4px 6px rgba(23, 33, 32, 0.15);
  font-size: 22px;
}

/*# sourceMappingURL=styles.css.map */
